.login-container {
    max-width: 450px;
    min-width: 350px;
    max-height: 250px;
    min-height: 200px;
    padding: 20px;
    background-color: hwb(0 100% 2%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: hsl(0, 100%, 80%);
    }

    form {
        .input-group {
            margin-bottom: 15px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            input[type="number"],
            input[type="tel"],
            input[type="text"],
            input[type="password"] {
                width: 95%;
                padding: 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
            }
        }

        .password-input {
            position: relative;

            // input[type='password'] {

            //     padding: none;
            // }

            .eye-icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 14px;
                height: 10px;
                cursor: pointer;
                transition: transform 0.3s;

                path {
                    fill: hsl(0, 100%, 91%);
                }

                &.visible {
                    transform: translateY(-50%) rotate(180deg);

                    path {
                        fill: hsl(0, 88%, 75%);
                    }
                }
            }
        }

        .login-button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #fbb3c7;
            color: black;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #fabacc;
            }

            &.disabled {
                background-color: #f9efef;
                cursor: not-allowed;

                &:hover {
                    background-color: #999;
                }
            }
        }
    }

    .register-link {
        text-align: center;
        margin-top: 10px;

        a {
            color: #4caf50;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: #45a049;
            }
        }
    }

    .error {

        input[type="text"],
        input[type="password"] {
            border-color: #ff4f4f;
        }
    }

    .error-message {
        color: #ff4f4f;
        font-size: 14px;
        margin-top: 5px;
    }
}

.login-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .login-image-template {
        margin-right: 10px;
        width: 50%;
    }

    .login-container {
        // margin-right: 70px;
        width: 50%;
    }
}

.login-image {
    width: 700px;
    height: 100vh;
}

.login-screen {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../../background_theme.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.go-back{
    color:#fbb3c7;
    margin-left: 150px;
    padding-right: 20px;

    a{
        color: #fbb3c7;
    }
    a:hover{
        color: #f30578;
    }

}